.profile {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 120px;
  margin-top: 40px;
}

.profile__photo {
  max-width: 120px;
  border-radius: 50%;
}

.profile__layout {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
}
.profile__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__name {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  min-width: 370 px;
  max-width: 415px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  padding-top: 16px;
  margin: 0;
  max-width: 415px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  padding: 15px 0 0 18px;
  background-color: #000;
  cursor: pointer;
  border: none;
}

.profile__button-edit:hover {
  opacity: 60%;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #ffffff;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
}

.profile__button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 0 auto;
  }
  .profile__name {
    font-size: 32px;
  }

  .profile__description {
    margin: 0;
    max-width: 415px;
    font-size: 15px;
    line-height: 21.78px;
    text-align: left;
  }

  .profile__button-add {
    margin-left: 80px;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    display: flex;
    padding: 0;
    margin: 0 auto;
  }

  .profile__photo {
    margin: 0 22px;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .profile__name {
    min-width: 224px;
    font-size: 22px;
    text-align: center;
  }

  .profile__description {
    font-size: 14px;
    text-align: center;
    margin-top: 14px;
    padding: 0;
  }

  .profile__button-add {
    width: 100%;
    max-width: 282px;
    height: 50px;
    margin: 36px auto 0;
  }
  .profile__layout {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
